/*
*--------------------------------*
+          google fonts          +
*--------------------------------*
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

/*
*--------------------------------*
+                     +
*--------------------------------*
*/

/* font family 
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

/*
*--------------------------------*
+           common css           +
*--------------------------------*
*/
*{
    margin: 0;
}
a{
    text-decoration: none;
}
hr{
    display: block;
    width: 1110px;
    margin: 0 auto;
}
/*
*--------------------------------*
+           Header part          +
*--------------------------------*
*/
.influencer-header{
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 50px;
}
.header-left{
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #3A3A3A;
}
header nav a{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    padding: 0 14px;
}
/*
*--------------------------------*
+         Influencer Detail      +
*--------------------------------*
*/
.influencer-detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.detail-left{
    width: 582px;
    margin-right: 100px;
}
.detail-left h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.detail-left p{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}
.detail-left a{
    font-family: Poppins;
    font-size: 15px;
    line-height: 81px;
    color: #FFFFFF;
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 40px;
    transition: background-color 2s ease-in-out;
}
.detail-left a:hover{
    background-color: black;
}
/* font awesome */
.font-aw{
    position: relative;
    left: 8px;
    top: 2px;
}
.detail-right{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;   
    width: 480px;
    height: 485px;
}
.detail-img{
    position: relative;
    top: 25px;
}
/*
*--------------------------------*
+         Company Logo           +
*--------------------------------*
*/
.company-top{
    margin: 100px 0 100px 0;
}
.company-logo{
    margin: 0 165px 0 165px;
    display: flex;
    align-items: center;
}
.logo img{
    padding: 30px;
}

/*
*--------------------------------*
+       Popular Collection       +
*--------------------------------*
*/
.collection-section{
    width: 1047px;
    margin: 0 195px 0 195px;
}
.popular-collection-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    border-radius: 10px;
}
.popular-header{
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 40px;
}
.popular-collections{
    width: 300px;
    padding: 17px 15px 30px;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 1px 4px 20px 11px #f0f0f0;
}

.popular-collection{
    width: 300px;
}
.collection-info{
    margin-top: 16px;
}
.collection-title{
    color: #18191F;
    font-family: Poppins;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}
.collection-price{
    font-family: Inter;
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    line-height: 150%;
}
.collection-rating{
    line-height: 25px;
    font-size: 11px;
}
.rating-number{
    font-family: Roboto;
    font-size: 14px;
    color: #5E6366;
}
.collection-detail{
    font-family: Inter;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
    width: 185px;
}
.see-more a{
    position: relative;
    left: 915px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
}

/*
*--------------------------------*
+         featured-products      +
*--------------------------------*
*/
.featured-products{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.featured-p-detail{
    width: 610px;
    font-family: Poppins;
    margin-top: 35px;
}
.featured-p-detail h2{
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
    font-weight: bold;
}
.featured-p-detail p{
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    width: 501px;
}
.featured-p-detail a{
    font-weight: 400;
    font-size: 16px;
    line-height: 70px;
    background-color: #E02C6D;
    padding: 8px 30px;
    color: #FFFFFF;
}

/*
*--------------------------------*
+             Footer             +
*--------------------------------*
*/
footer{
    background-color: #0A0826;
    text-align: center;
    padding: 45px;
}
footer h3{
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}
footer p{
    font-family: Manrope;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}
footer nav{
    padding: 15px;
    margin-top: 15px;
}
footer nav a{
    padding: 10px;
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    background: #22213c9c;
    border-radius: 50px;
    margin-left: 12px;
}
.f-icon{
    font-size: 17px;
}

/*
*--------------------------------*
+     Responsive Part tablet     +
*--------------------------------*
*/

@media only screen and (max-width: 992px){
    .header-left{
        font-size: 16px;
        display: block;
    }
    .detail-img{
        position: relative;
        top: 25px;
        left: -232px;        
        width: 75%;
    }
    .detail-right{
        background-image: none;
    }
    .detail-left h1{
        font-size: 28px;
        width: 404px;
        line-height: 42px;
    }
    .detail-left p{
        font-size: 14px;
        line-height: 21px;
        width: 404px;
    }
/*
*--------------------------------*
+         Company Logo           +
*--------------------------------*
*/
    .company-logo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0;
    }
/*
*--------------------------------*
+       Popular Collection       +
*--------------------------------*
*/
    .popular-collection-main{
        display: grid;
        grid-template-columns: 450px 450px;
    }
    .popular-hidden{
        display: none;
    }
    .collection-section {
        margin: 0 15px 0 60px;
    }
    .see-more a{
        position: relative;
        left: 700px;
    }

/*
*--------------------------------*
+         featured-products      +
*--------------------------------*
*/
    .featured-products{
        display: grid;
        grid-template-columns: 1fr;
        width: 405px;
        margin: 0 auto;
    }
    .featured-p-detail h2{
        font-size: 23px;
        line-height: 36px;
    }
/*
*--------------------------------*
+            Footer              +
*--------------------------------*
*/
    .footer{
        width: 360px;
        margin: 50px 68px;
    }
    .footer h2{
        font-size: 16px;
        line-height: 24px;
    }
    .footer p{
        font-size: 12px;
        line-height: 24px;
    }
}

/*
*--------------------------------*
+     Responsive Part mobile     +
*--------------------------------*
*/
@media only screen and (max-width: 688px){
    header nav{
        display: none;
    }
    .influencer-header{
        display: block;
    }
    .header-left{
        text-align: center;
        font-size: 16px;
        display: block;
    }
    .influencer-detail{
        text-align: center;
    }
    .detail-img{
        position: relative;
        top: 25px;
        left: 0;
        width: 75%;
    }
    .detail-left h1{
        font-size: 28px;
        width: 404px;
        line-height: 42px;
    }
    .detail-left p{
        font-size: 14px;
        line-height: 21px;
        width: 404px;
        text-align: center;
    }
    .detail-left a{
        position: relative;
        left: -80px;
    }
/*
*--------------------------------*
+         Company Logo           +
*--------------------------------*
*/
    .company-logo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0;
    }
/*
*--------------------------------*
+       Popular Collection       +
*--------------------------------*
*/
    .popular-collection-main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .collection-section {
        width: 350px;
        margin: 0 15px 0 15px;
        margin: 0 auto;
    }
    .see-more a{
        position: relative;
        left: 220px;
    }

/*
*--------------------------------*
+         featured-products      +
*--------------------------------*
*/
    .featured-products{
        display: grid;
        grid-template-columns: 1fr;
    }
    .featured-p-detail{
        text-align: center;
        position: relative;
        left: 41px;
    }
    .featured-p-detail h2{
        font-size: 23px;
        width: 311px;
        line-height: 36px;
    }
    .featured-p-detail p{
        width: 329px;
    }
    .featured-p-detail a{
        position: relative;
        left: -140px;
    }
/*
*--------------------------------*
+            Footer              +
*--------------------------------*
*/
    .footer{
        width: 360px;
        margin: 50px 68px;
    }
    .footer h2{
        font-size: 16px;
        line-height: 24px;
    }
    .footer p{
        font-size: 12px;
        line-height: 24px;
    }

}

